<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>
    <application
        android:label="Carservice"
        android:name="${applicationName}"
        android:icon="@mipmap/ic_launcher">
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="${GOOGLE_MAP_API_KEY}" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:taskAffinity=""
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize">
            <!-- Specifies an Android theme to apply to this Activity as soon as
                 the Android process has started. This theme is visible to the user
                 while the Flutter UI initializes. After that, this theme continues
                 to determine the Window background behind the Flutter UI. -->
            <meta-data
              android:name="io.flutter.embedding.android.NormalTheme"
              android:resource="@style/NormalTheme"
              />
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <!-- Don't delete the meta-data below.
             This is used by the Flutter tool to generate GeneratedPluginRegistrant.java -->
        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />
    </application>
    <!-- Required to query activities that can process text, see:
         https://developer.android.com/training/package-visibility and
         https://developer.android.com/reference/android/content/Intent#ACTION_PROCESS_TEXT.

         In particular, this is used by the Flutter engine in io.flutter.plugin.text.ProcessTextPlugin. -->
    <queries>
        <intent>
            <action android:name="android.intent.action.PROCESS_TEXT"/>
            <data android:mimeType="text/plain"/>
        </intent>

        <!-- QPay банкны deep link scheme-үүд. Android 11+ (API 30) дээр эдгээрийг
             эндхэн зарлаагүй бол url_launcher-ийн launchUrl() чимээгүй false
             буцаана (банкны апп нээгдэхгүй). Жагсаалтыг QPay-ийн нийтэлсэн
             deeplink-үүдтэй тааруулж шинэчилж байх ёстой — шинэ банк нэмэгдвэл
             энд scheme-ийг нь нэмнэ. Ерөнхий http(s) шилжилтэд зориулж VIEW-г
             бас зарлав. -->
        <intent>
            <action android:name="android.intent.action.VIEW"/>
            <data android:scheme="https"/>
        </intent>
        <intent><action android:name="android.intent.action.VIEW"/><data android:scheme="qpaywallet"/></intent>
        <intent><action android:name="android.intent.action.VIEW"/><data android:scheme="qpay"/></intent>
        <intent><action android:name="android.intent.action.VIEW"/><data android:scheme="khanbank"/></intent>
        <intent><action android:name="android.intent.action.VIEW"/><data android:scheme="statebankmongolia"/></intent>
        <intent><action android:name="android.intent.action.VIEW"/><data android:scheme="tdbbank"/></intent>
        <intent><action android:name="android.intent.action.VIEW"/><data android:scheme="xacbank"/></intent>
        <intent><action android:name="android.intent.action.VIEW"/><data android:scheme="most"/></intent>
        <intent><action android:name="android.intent.action.VIEW"/><data android:scheme="mostmoney"/></intent>
        <intent><action android:name="android.intent.action.VIEW"/><data android:scheme="capitronbank"/></intent>
        <intent><action android:name="android.intent.action.VIEW"/><data android:scheme="bogdbank"/></intent>
        <intent><action android:name="android.intent.action.VIEW"/><data android:scheme="ckbank"/></intent>
        <intent><action android:name="android.intent.action.VIEW"/><data android:scheme="chinggis"/></intent>
        <intent><action android:name="android.intent.action.VIEW"/><data android:scheme="nibank"/></intent>
        <intent><action android:name="android.intent.action.VIEW"/><data android:scheme="transbank"/></intent>
        <intent><action android:name="android.intent.action.VIEW"/><data android:scheme="mbank"/></intent>
        <intent><action android:name="android.intent.action.VIEW"/><data android:scheme="arigbank"/></intent>
        <intent><action android:name="android.intent.action.VIEW"/><data android:scheme="socialpay"/></intent>
        <intent><action android:name="android.intent.action.VIEW"/><data android:scheme="candypay"/></intent>
        <intent><action android:name="android.intent.action.VIEW"/><data android:scheme="toki"/></intent>
        <intent><action android:name="android.intent.action.VIEW"/><data android:scheme="monpay"/></intent>
        <intent><action android:name="android.intent.action.VIEW"/><data android:scheme="ardapp"/></intent>
        <intent><action android:name="android.intent.action.VIEW"/><data android:scheme="pocket"/></intent>
    </queries>
</manifest>
